.content-about-top-main{
  background-color: rgba(0, 0, 0, 0.048);
  width: 100%;
  display: flex;
  justify-content: center;
}
.content-about-top{
  padding: 100px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  align-items: center;
  max-width: 1200px;
}
.about-content-right-img{
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url('../assets/Machu_Picchu\,_Peru.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: inset -10px 50px 100px rgba(0, 0, 0, 0.719),
              10px 10px 50px 1px rgba(0, 0, 0, 0.404);

}
.about-content-right img{
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: -30px;
  left: -30px;
  border: solid white 5px;
  border-radius: 15px;
  object-fit: fill;
  box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.342);
}
.about-content-left span{
  color: #1D7DED;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.about-content-left h1{
  font-size: 60px;
  line-height: 55px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.about-content-left p{
  font-size: 18px;
  margin-bottom: 40px;
}
.content-about-middle{
  max-width: 1200px;
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.content-about-left h2{
  font-size: 32px;
  margin-bottom: 30px;
  border-left: solid #1D7DED 4px;
  padding-left: 20px;
} 
.content-about-left p{
  font-size: 18px;
  text-align: justify;
  margin-bottom: 30px;
}
.content-about-left-img{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}
.content-about-left-img img{
  background-color: red;
  height: 270px;
  width: 270px;
  border-radius: 18px;
}
.content-about-card-img{
  width: 100%;
  height: 300px;
  border-radius: 18px;
  margin-bottom: 40px;
}
.content-about-card-info{
  background-color: #F0F7FF;
  padding: 40px;
  border-radius: 18px;
  border: #D2E3FC solid 2px;
}
.content-about-card-info h3{
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 32px;
}
.content-about-card-info-link{
  display: block;
  color: #1D7DED;
  font-weight: 700;
  margin-top: 10px;
}

/* bottom */

.content-about-bottom{
  width: 100%;
  text-align: center;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F9FA;
  box-sizing: border-box;
}
.content-about-bottom span{
  display: block;
  width: 80%;
}
.content-about-bottom-h3{
  font-size: 54px;
  padding-bottom: 20px;
}

.content-about-bottom div{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

.content-about-left-img-down{
  position: relative;
  bottom: -40px;
}

@media (max-width:1200px){
  .content-about-left-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-content-right{
    display: flex;
    justify-content: center;
  }
}
@media (max-width:1000px){
  .content-about-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    padding-top: 100px;
    text-align: center;
  }
  .content-about-bottom{
    padding: 10%;
  }
  .about-content-right{
    height: auto;
    width: 100%;
  }
  .content-about-right{
    margin-top: 50px;
  }
  .content-about-middle{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10%;
  }
  .about-content-right-img{
    height: 90vw;
    width: 80vw;
  }
  .about-content-right img{
    left: 0;
  }
}
@media (max-width:700px){
  .content-about-card-img{
    height: 200px;
  }
}
@media (max-width:450px){
  .content-about-card-img{
    height: 150px;
  }
}