.nav-bar{
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 0 8%;
  height: 70px;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.nav-bar-ul{
  display: flex;
  gap: 3vw;
}
.nav-bar-li{
  list-style: none;
  font-size: 18px;
}
.nav-bar-img{
  height: 60px;
}
.nav-bar-img img{
  width: inherit;
  height: inherit;
}
.nav-bar-a{
  color: rgb(44, 44, 44);
  text-decoration: none;
  font-weight: 500;
}
.nav-bar-a:hover{
  color: rgb(105, 156, 197);
  font-weight: 500;
}