.footer-content{
  background-color: #0f172a;
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
.footer-content-left{
  width: 20%;
}
.footer-content-right{
  width: 15%;
}
.footer-content h4{
  color: white;
  font-weight: 800;
  font-size: 28px;
}
.footer-content span{
  display: inline-block;
  color: white;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-content p{
  color: #94a3b8;
  font-size: 18px;
}
.footer-content-li{
  list-style: none;
  margin-top: 20px;
  font-size: 22px;
}
.footer-content-li a{
  color: #94a3b8;  
  text-decoration: none;
}
.footer-content-imgs{
  display: flex;
  gap: 10px;
  margin: 30px 0;
}
.footer-content-imgs img{
  width: 50px;  
  height: 50px;
  background-color: white;
  border-radius: 100%;
}
.footer-content-left img{
  height: 80px;
}
@media (max-width: 1000px){
  .footer-content{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-content-left{
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

  }
  .footer-content-right{
    width: 100%;
    text-align: center;
  }
  .footer-content-imgs{
    justify-content: center;
  }
  .footer-content-center h4, .footer-content-right h4{
    font-size: 20px;
  }
  .footer-content-li{
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
  .content-botton-info-left{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}
@media (max-width:450px){
  .footer-content{
    display: flex;
    flex-direction: column;
    padding: 10%;
    gap: 25px;

  }
  .footer-content-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-content-left p{
    margin-top: 25px;
    text-align: justify;
  }
  .footer-content-right{
    width: 100%;
  }
  .footer-content-center h4{
    font-size: 20px;
    text-align: center;
  }
  .footer-content-li{
    margin-top: 0;
  }
  .footer-content-li a{
    font-size: 16px;
  }
  .footer-content-right h4{
    text-align: center;
    font-size: 20PX;
  }
  .footer-content-imgs{
    justify-content: center;
    gap: 25px;
  }
  .content-botton{
    padding: 15px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .content-botton-h4{
    font-size: 28px;
  }
  .content-botton-p{
    font-size: 16px;
    text-align: justify;
  }
  .content-botton-info-left{
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-banner-div-btns{
    flex-direction: column;
  }
}