.footer-content{
  background-color: #0f172a;
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
.footer-content-left{
  width: 20%;
}
.footer-content-right{
  width: 15%;
}
.footer-content h4{
  color: white;
  font-weight: 800;
  font-size: 28px;
}
.footer-content span{
  display: inline-block;
  color: white;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-content p{
  color: #94a3b8;
  font-size: 18px;
}
.footer-content-li{
  list-style: none;
  margin-top: 20px;
  font-size: 22px;
}
.footer-content-li a{
  color: #94a3b8;  
  text-decoration: none;
}
.footer-content-imgs{
  display: flex;
  gap: 10px;
  margin: 30px 0;
}
.footer-content-imgs img{
  width: 50px;  
  height: 50px;
  background-color: white;
  border-radius: 100%;
}
.footer-content-left img{
  height: 80px;
}