.content-card{
  width: 300px;
  height: 400px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.432) -2px 4px 16px 1px;
}
.content-card-strong{
  color: rgb(255, 187, 0);
  text-transform: uppercase;
  font-size: 12px;
}
.content-card-h4{
  text-transform: capitalize;
  font-size: 20px;
  color: white;
}
.content-card-p{
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-bottom: 20px;
}
.content-card-a{
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}